include LICENSE.txt
include README.rst
recursive-include aldryn_bootstrap3/locale *
recursive-include aldryn_bootstrap3/static *
recursive-include aldryn_bootstrap3/templates *
recursive-exclude * *.py[co]
