include LICENSE.txt
include README.rst
recursive-include djangocms_bootstrap4/locale *
recursive-include djangocms_bootstrap4/static *
recursive-include djangocms_bootstrap4/templates *
recursive-include djangocms_bootstrap4/contrib *
recursive-exclude * *.py[co]
