include LICENSE
include README.rst
recursive-include djangocms_bootstrap5/locale *
recursive-include djangocms_bootstrap5/static *
recursive-include djangocms_bootstrap5/templates *
recursive-include djangocms_bootstrap5/contrib *
recursive-exclude * *.py[co]
