// #############################################################################
// BUTTON GROUPS

.bootstrap4-button-group {
    .btn {
        cursor: pointer;
        -webkit-appearance: none;
        min-width: 50px;
        margin: 0 0 4px;
    }

    // adds basic active effect
    .btn.active {
        outline: 3px solid $cms-primary;
        border-color: #fff !important;
    }

    // specific for default classes (used for button-group)
    .btn-default.active {
        border-radius: 0;
        background-color: $cms-primary !important;
    }
}

// when using icons remove padding and improve sizing
.bootstrap4-button-group-icons {
    .icon {
        font-size: 21px;
    }

    // custom icon sizes
    .icon-flex-align-start,
    .icon-flex-align-center,
    .icon-flex-align-end {
        transform: scale(1.4);
    }

    .icon-flex-content-around,
    .icon-flex-content-between {
        transform: scale(1.6);
    }

    .icon-flex-self-start,
    .icon-flex-self-center,
    .icon-flex-self-end {
        transform: scale(1.4);
    }
}
