// #############################################################################
// BUTTON GROUPS

.bootstrap4-button-group {
    .btn {
        box-sizing: border-box;
        cursor: pointer;
        -webkit-appearance: none;
        margin: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // adds basic active effect
    .btn.active {
        outline: 3px solid $cms-primary;
        border-color: #fff !important;
    }

    // specific for default classes (used for button-group)
    .btn-default.active {
        border-radius: 0;
        background-color: $cms-primary !important;
    }
}

.bootstrap4-button-group-context-size,
.bootstrap4-button-group-context-colors {
    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 75px;
    }
}

.bootstrap4-button-group-context-colors {
    .btn {
        flex-basis: calc(25% - 4px);

        // min size of the modal is about 785px
        @media (min-width: 820px) {
            flex-basis: calc(20% - 4px);
        }
    }
}

// when using icons remove padding and improve sizing
.bootstrap4-button-group-icons {
    .icon {
        font-size: 21px;
    }

    // custom icon sizes
    .icon-flex-align-start,
    .icon-flex-align-center,
    .icon-flex-align-end {
        transform: scale(1.4);
    }

    .icon-flex-content-around,
    .icon-flex-content-between {
        transform: scale(1.6);
    }

    .icon-flex-self-start,
    .icon-flex-self-center,
    .icon-flex-self-end {
        transform: scale(1.4);
    }

    .icon-size-sm {
        transform: rotate(90deg);
    }
}
