// #############################################################################
// CARD

.bootstrap4-button-group-blueprint {
    text-align: center;
}

.djangocms-bootstrap4-card {
    .module:first-child .help {
        text-align: center;
    }
}

.card-deck {
    margin: 0 0 20px;

    p {
        margin: 0 0 20px;
    }

    .card-title {
        padding-left: 0;
    }

    .btn-primary {
        @extend .btn;
    }
}
