// #############################################################################
// GRID
.module {
    margin: 0 0 20px;
}

.djangocms-bootstrap5-row {
    .form-row.field-create .icon {
        position: absolute;
        font-size: 30px;
        margin-top: 28px;
        margin-left: 4px;
    }

    .form-row.field-create input {
        width: 130px !important;
        padding-right: 5px !important;
        text-align: right;
    }
}

.djangocms-bootstrap5-column {
    .form-row.field-xs_col,
    .form-row.field-xs_order,
    .form-row.field-xs_offset,
    .form-row.field-xs_ml,
    .form-row.field-xs_mr {
        position: relative;
        display: flex;
        padding: 0;
        min-width: 860px;

        .field-box,
        .fieldBox {
            position: relative;
            text-align: center;
            width: 110px !important;
            padding: 15px 10px;
            margin: 0 !important;
            border-bottom: 1px solid #eee;
            float: left !important;

            input {
                text-align: right;
                padding-right: 5px !important;
            }

            label {
                font-size: 12px !important;
                font-weight: normal !important;
                color: #ccc !important;
                position: absolute;
                left: 20px;
                bottom: 18px;
                text-transform: lowercase;
            }

            .disabled {
                color: #ccc;
                background: #eee;
            }

            &:last-child {
                border-right: none;
            }
        }

        .errors {
            margin-bottom: 0;
        }

        .errorlist {
            @include sr-only;
        }

        &.field-xs_mr .field-box {
            border-bottom: none;
        }

        .field-box-label {
            display: flex;
            margin-top: auto;
            color: #999;

            a {
                width: 100%;
            }

            .icon {
                position: relative;
                top: 3px;
            }
        }

        &.field-xs_col .field-box-label a,
        &.field-xs_offset .field-box-label a,
        &.field-xs_order .field-box-label a {
            position: relative;
            top: 8px;
        }

        // ml checkbox
        .field-xs_ml,
        .field-sm_ml,
        .field-md_ml,
        .field-lg_ml,
        .field-xl_ml,
        .field-xs_mr,
        .field-sm_mr,
        .field-md_mr,
        .field-lg_mr,
        .field-xl_mr {
            text-align: left;

            label {
                left: 30px;
                bottom: 14px;
            }

            input {
                position: relative;
                top: -3px;
            }
        }
    }

    .grid-reset {
        position: absolute;
        right: 5px;
        top: 0;
    }

    .icon-thead {
        text-align: center;
        margin-bottom: 15px;

        .icon {
            font-size: 30px;
        }

        .icon-size-sm {
            transform: rotate(90deg);
        }
    }

    .icon-title {
        display: block;
        font-size: 12px;
        color: #999;
        padding: 5px 0 0;
    }
}
