// #############################################################################
// GRID

.djangocms-bootstrap4-row {
    .field-box.field-vertical_alignment select {
        display: none;
        visibility: hidden;
        background: blue;
    }
}
