// #############################################################################
// COMMON

.icon {
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.icon-title {
    display: block;
    font-size: 12px;
    color: #999;
    padding: 5px 0 0;
}

$svg-colors: (
    "white": white,
    "black": black,
);

@each $key in map-keys($svg-colors) {
    .icon-#{$key} {
        color: map-get($svg-colors, $key);

        svg {
            fill: map-get($svg-colors, $key);
        }
    }
}

svg path {
    fill: inherit;
}
