name: CodeCov

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9, ]  # latest release minus two
        requirements-file: [
            dj22_cms37.txt,
            dj22_cms38.txt,
            dj30_cms37.txt,
            dj30_cms38.txt,
            dj31_cms38.txt,
        ]
        os: [
            ubuntu-20.04,
        ]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '2'

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate Report
      run: |
        pip install -r tests/requirements/${{ matrix.requirements-file }}
        coverage run setup.py test
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
